.header {
  background-color: #FDFAEE;
}

.reset-anchor {
  color: inherit;
  border: none;
  background: none;
}

.reset-anchor:hover, .reset-anchor:focus {
  text-decoration: none;
}

.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;

}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0rem;
}

.navbar-light .navbar-brand {
  color: #0A5E88;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: #0A5E88;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-weight: 400;
  font-family: "Playfair Display", sans-serif;
  transition: all 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #0A5E88;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #0A5E88;
}

.navbar-light .navbar-toggler {
  color: #000;
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-primary {
  background-color: #0A5E88;
}

/* BODY STYLE SETUP */
body {

  font-family: "Playfair Display", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  background-color: #FDFAEE;
}

a {
  color: #0A5E88;
  text-decoration: none;
}

a:hover, a:focus {
  color: #0A5E88;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}





/* NEWS ARTICLE CARDS */

.whiteArticleCard{
  margin: 20px 20px;
  padding: 10px;
  display: ;
  border: none;
  background-color: #FFFBEF;
  color: black;
}

.articleCard{
  margin: 20px 20px;
  padding: 10px;
  display: ;
  border: none;
  background-color: white;
  color: #0A5E88;
}

.articleTitle {
    font-size: 30px;
    padding-bottom: 10px;
}

.author {

    font-size: 16px;
    padding-bottom: 5px;
}

.articleYear {

    padding-bottom: 5px;

}

.articleJournal {

    font-style: italic;
    font-size: 18px;
}

.articleDescription{
    font-size: 12px;

}

.articleLink{
  color: black;
  font-size: 10px;

}


/* tablets */
@media only screen and (max-width: 768px) {



/* phones */
@media only screen and (max-width: 600px){
